<ul id="nav-mobile" class="right hide-on-med-and-down">
    {{#if active.ssd}}
    <li class="active"><a href="/deals/ssd">SSD</a></li>
    {{else}}
    <li><a href="/deals/ssd">SSD</a></li>
    {{/if}}
    {{#if active.hdd}}
    <li class="active"><a href="/deals/hdd">HDD</a></li>
    {{else}}
    <li><a href="/deals/hdd">HDD</a></li>
    {{/if}}
    {{#if active.monitor}}
    <li class="active"><a href="/deals/monitor">Monitor</a></li>
    {{else}}
    <li><a href="/deals/monitor">Monitor</a></li>
    {{/if}}
    {{#if active.mouse}}
    <li class="active"><a href="/deals/mouse">Mouse</a></li>
    {{else}}
    <li><a href="/deals/mouse">Mouse</a></li>
    {{/if}}
    {{#if active.gpu}}
    <li class="active"><a href="/deals/gpu">GPU</a></li>
    {{else}}
    <li><a href="/deals/gpu">GPU</a></li>
    {{/if}}
</ul>