{{#if ssd}}
<li class="active"><a href="/deals/ssd">SSD</a></li>
{{else}}
<li><a href="/deals/ssd">SSD</a></li>
{{/if}}
{{#if hdd}}
<li class="active"><a href="/deals/hdd">HDD</a></li>
{{else}}
<li><a href="/deals/hdd">HDD</a></li>
{{/if}}
{{#if monitor}}
<li class="active"><a href="/deals/monitor">Monitor</a></li>
{{else}}
<li><a href="/deals/monitor">Monitor</a></li>
{{/if}}
{{#if mouse}}
<li class="active"><a href="/deals/mouse">Mouse</a></li>
{{else}}
<li><a href="/deals/mouse">Mouse</a></li>
{{/if}}
{{#if gpu}}
<li class="active"><a href="/deals/gpu">GPU</a></li>
{{else}}
<li><a href="/deals/gpu">GPU</a></li>
{{/if}}
{{#if cpu}}
<li class="active"><a href="/deals/cpu">CPU</a></li>
{{else}}
<li><a href="/deals/cpu">CPU</a></li>
{{/if}}